.success-message,
.error-message {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}
