.error,
.success {
  background: lightgrey;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  padding: 6px;
  margin-top: 20px;
}

.error {
  color: red;
}

.success {
  color: green;
}
