@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
}

.title {
  color: green;
  font-weight: bold;
}

.error,
.success {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.active-user {
  font-weight: bold;
}

table {
  margin-top: 25px;
}

table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
}
