@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
}

.title {
  color: green;
  font-weight: bold;
}

.error,
.success {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.active-user {
  font-weight: bold;
}

.blog-style {
  padding: 10px 4px;
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 4px;
}

.new-blog-btn {
  margin-bottom: 20px;
}
